/* Add CSS Styling */

.odd {
    background-color: #fc03ca;
    font-family: "Verdana","DejaVu Sans", "sans-serif";
}

#second {
    color: blue;
    font-size: 36px;
}

#third {
    font-size: 24px;

}

#fourth {
    background-color: #34eb52;
    font-size: 24px;
    font-weight: bold;
}